.card{
  width: 540px;

}

.card__title{
  margin:0 0 32px;
  font-family: 'Inter', Arial, sans-serif;;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card__list-item{
  display: flex;
  padding: 0;
  margin: 16px 0 0;
  align-items:baseline;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 16px;
  line-height: 20px;
  /*these two also appear to not inherit from .page, but they do seem to inherit from .card if I put them there*/
}

.card__list-item:first-of-type{
  margin: 0;
}

.card__list-divider{
  flex-grow: 1; /*other flex elements in this box default to 0, or 'do not grow'*/
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  margin:0 5px;
}
