.reservation{
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
}

.reservation__title{
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form{
  margin: 0;
  padding: 0;

}

.reservation__form-container{
  display: flex;
  max-width: 385px;
  flex-direction: column;
  margin: 80px auto 0;
}

